h5 {
  margin-top:0 !important;
}

.pagination {
  margin-top:8px !important;
  margin-bottom: 0 !important;
}

.pagination li a {
  line-height:26px;
}

.pagination .active_pagination {
  background: linear-gradient(180deg, #EFDFD6 0%, #DFD5CF 52.6%, #e8d1c4 100%);
  border: 1px solid #ACACAC;
}

.waves-effect {
  z-index:0
}

.success {
  background:#CCE4D1;
  border-radius: 10px;
  font-size:17px;
  margin-bottom:25px;
  letter-spacing: -0.015em;
  color: #021742;
  font-weight:500;
}

.closeable{
  transition: all 1s 0s;
  position:relative;
  overflow-y:hidden;
}

.success span {
  display:block;
  transition: all 1s 0s;
  padding: 22px 55px 22px 48px;
  border-radius: 35px;
}
.success .cross {
  position:absolute;
  top: 6px;
  right: 53px;
  width: 13px;
  height: 16px;
}

.success .cross:before, .success .cross:after {
  height:17px;
  background:#262626;
}

.error-block {
  color:black;
  border-radius:20px;
  background: linear-gradient(270deg, #FF8159 0%, #FF8159 4.65%, rgba(196, 196, 196, 0) 4.66%, rgba(196, 196, 196, 0) 95.72%, #FF8159 95.76%, #FF8159 100%), linear-gradient(267.86deg, #FFE2AB 9.89%, #FFE1B5 75.84%);
}

.error-block .cross {
  right: 42px;
}

.cross {
  position:absolute;
  width:12px;
  height:12px;
  top:11px;
  right:6px;
  transform: translate(-50%,0);
  cursor:pointer;
}

.cross:before, .cross:after {
  content: "";
  position: absolute;
  margin-top:-2px;
  right:5px;
  height: 16px;
  width: 2px;
  background-color: #C4C2C2;
}

.cross:before {
  transform:rotate(45deg);
}

.cross:after {
  transform:rotate(-45deg);
}

.btn-manage-round {
  box-shadow: 0 0 0 1px rgb(190 190 190 / 25%);
  background: radial-gradient(50% 50% at 50% 50%, #fdfdfd 14.58%, #f9f9f9 81.77%, #f0f0f0 100%);
  border: 1px solid #949494;
  width: 30px;
  height: 32px;
  border-radius: 50%;
  color: #656565;
  margin-right: 10px;
}

th {
  font-weight:500 !important;
  color:#474747 !important;
  padding-top: 0 !important;
}


.content-wrapper {
  padding: 14px 15px;
  padding-bottom: 18px;
  border: 1px solid #bdb7ab8c;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 1px rgb(29 113 37 / 10%), inset 0px 0px 2px 2px rgb(255 15 0 / 4%), inset 0px 0px 1px 1px rgb(129 159 58 / 13%), inset 0px 4px 250px rgb(255 233 165 / 25%), inset 0px 4px 67px rgb(196 244 255 / 10%);
}

/*.pagination li {*/
/*  z-index:-1;*/
/*}*/

.custom-button {
  display: inline-block;
  background: linear-gradient(180deg, #F5F5F5 0%, #D2D2D2 100%);
  border: 1px solid #7C7C7C;
  box-sizing: border-box;
  color: #3F4152;
  padding: 4px 7px;
  padding-top: 2px;
  border-radius: 2px;
  cursor:pointer;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.custom-button:hover {
  color: #3F4152;
  text-decoration:none;
  background: linear-gradient(180deg, #E9E9E9 0%, #ECECEC 100%);
}

.btn-manage-round .material-icons {
  position: relative;
  font-size:21px;
  line-height:1;
  left: -9.9px;
  top: 1.5px;
}

.btn-manage-round .pencil {
  font-size:19px;
  top:0.9px;
}


/* m_modal */

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  padding-top:18px;
  padding-bottom:9px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  margin-bottom:51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
  position: relative;
  top: -6px;
  right: -12px;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

nav {
  background-color: transparent;
}

.app-sidenav {
  bottom: auto !important;
  padding-bottom: 0 !important;
  top:96px;
  padding-top:0;
  border: 1px solid #bdb7ab8c;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
  box-shadow: 0px 0px 2px 1px rgb(29 113 37 / 10%), inset 0px 0px 2px 2px rgb(255 15 0 / 4%), inset 0px 0px 1px 1px rgb(129 159 58 / 13%), inset 0px 4px 250px rgb(255 233 165 / 25%), inset 0px 4px 67px rgb(196 244 255 / 10%);
}

a:hover {
  text-decoration:none;
}


/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

/* m_modal */
